<!-- mqtt_scrape.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MQTT Scrape</title>
</head>
<body>
    <h1>MQTT Scrape</h1>

    <ul>
        {% for mqtt_data in mqtt_data_list %}
            <li>{{ mqtt_data.topic }} - {{ mqtt_data.message }} - {{ mqtt_data.timestamp }}</li>
        {% endfor %}
    </ul>
</body>
</html>
